<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="oServer" value=".\SQLExpress"/>
    <add key="oCompanyDB" value="MinorInformation"/>

  </appSettings>

  <connectionStrings>
    <add name="curfew.Properties.Settings.curfewConnectionString"
        connectionString="server=localhost;database=MinorInformation"
        providerName="MySql.Data.MySqlClient" />
    <add name="curfew.Properties.Settings.curfewConnectionString1"
        connectionString="server=localhost;database=MinorInformation"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>